docker {
    enabled = false
}

singularity {
    enabled = true
    autoMounts = true
}

params {
    // Required parameters
    cooler_path = null // str
    clean_cooler_path = null // str
    input_train_cooler_paths = null // str
    label = null // str, e.g., Gor_Chm
    weights_paths = null // path to tsv file with paths to weights and resolution of maps for which this weights are

    // Optional parameters
    resolutions = [15000, 25000, 50000] // list of int, searched HiC maps resolutions
    num_epoch = 160
    labels_cutoff = 0.6
    step = 12

    //paths to  scripts
    generate_npy_script = 'scripts/generate_npy.py'
    train_model_script = 'scripts/train_model_wm.py'
    models_library_scripts = 'scripts/models.py'
    run_model_script = 'scripts/run_model.py'
}
