docker {
    enabled = false
}

singularity {
    enabled = true
    autoMounts = true
    
    // VERY IMPORTANT: Set a cache directory!
    // Using the scratch path from your previous error message:
    cacheDir = '/mnt/tank/scratch/vdravgelis/singularity_cache'
}

params {
    // Required parameters
    cooler_path = null // str
    clean_cooler_path = null // str
    input_train_cooler_paths = null // str
    label = null // str, e.g., Gor_Chm
    weights_15kb = null // path to weights for 15kbp model
    weights_25kb = null // path to weights for 25kbp model
    weights_50kb = null // path to weights for 50kbp model

    // Optional parameters
    resolutions = [15000, 25000, 50000] // list of int, searched HiC maps resolutions
    num_epoch = 160
    labels_cutoff = 0.6
    step = 12

}
